a {
    text-decoration: none;
    color:#888;
}
a:visited {
    color:#888;
}
#container {
    display:flex;
    align-items: center;
    padding-left:10px;
    color:brown;
}
#logout {
    position:absolute;
    right:0;
    top:0;
    padding:5px;
}